
<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <div id="song-selector" class="card bg-dark">
        <div class="card-body">
          <div class="card-title"></div>
          <h2>{{this.msg}}</h2>
          <button class="btn btn-primary float-left" id="refresh-button" data="{{this.reddit}}">Refresh List</button>
        </div>
        <ul id="song-list" class="list-group">
          {{#each songs}}
          <li data-id="{{this.song}}" class="list-group-item">
            <a href="{{this.url}}">{{this.song}} - {{this.artist}}</a>
            <button class="btn btn-primary float-right create-playlist">Explore</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-1"></div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/jquery.lettering.js"></script>
<script src="/js/index.js"></script>